<style>
  .titulo{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .parrafo{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  body{
    background-color: #13003b;
    width: 100%;
  }

  .tabla{
    color: #ffffff;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .encabezadotabla{
    color: #000000;
    background-color: #ffffff;
  }
</style>

<body>
  
<h1 class="titulo">Registro</h1>
<h2 class="parrafo">En la siguiente tabla se muestra en registro almacenado en la base de datos del supermercado </h2>

<table class="tabla">
  <tr>
    <td class="encabezadotabla">id</td>
    <td class="encabezadotabla">articulo</td>
    <td class="encabezadotabla">precio</td>
    <td class="encabezadotabla">descripcion</td>
    <td class="encabezadotabla">cantidad</td>
  </tr>
  
    <tr>
      <td> {{obj[0]['id']}} </td>
      <td> {{obj[0]['articulo']}} </td>
      <td> {{obj[0]['precio']}} </td>
      <td> {{obj[0]['descripcion']}} </td>
      <td> {{obj[0]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[1]['id']}}</td>
      <td> {{obj[1]['articulo']}}</td>
      <td> {{obj[1]['precio']}}</td>
      <td> {{obj[1]['descripcion']}}</td>
      <td> {{obj[1]['cantidad']}}</td>
    </tr>

    <tr>
      <td> {{obj[2]['id']}} </td>
      <td> {{obj[2]['articulo']}} </td>
      <td> {{obj[2]['percio']}} </td>
      <td> {{obj[2]['descripcion']}} </td>
      <td> {{obj[2]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[3]['id']}} </td>
      <td> {{obj[3]['articulo']}} </td>
      <td> {{obj[3]['precio']}} </td>
      <td> {{obj[3]['descripcion']}} </td>
      <td> {{obj[3]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[4]['id']}} </td>
      <td> {{obj[4]['articulo']}} </td>
      <td> {{obj[4]['arecio']}} </td>
      <td> {{obj[4]['descripcion']}} </td>
      <td> {{obj[4]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[5]['id']}} </td>
      <td> {{obj[5]['articulo']}} </td>
      <td> {{obj[5]['precio']}} </td>
      <td> {{obj[5]['descripcion']}} </td>
      <td> {{obj[5]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[6]['id']}} </td>
      <td> {{obj[6]['articulo']}} </td>
      <td> {{obj[6]['precio']}} </td>
      <td> {{obj[6]['descripcion']}} </td>
      <td> {{obj[6]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[7]['id']}} </td>
      <td> {{obj[7]['articulo']}} </td>
      <td> {{obj[7]['precio']}} </td>
      <td> {{obj[7]['descripcion']}} </td>
      <td> {{obj[7]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[8]['id']}} </td>
      <td> {{obj[8]['articulo']}} </td>
      <td> {{obj[8]['precio']}} </td>
      <td> {{obj[8]['descripcion']}} </td>
      <td> {{obj[8]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[9]['id']}} </td>
      <td> {{obj[9]['articulo']}} </td>
      <td> {{obj[9]['precio']}} </td>
      <td> {{obj[9]['descripcion']}} </td>
      <td> {{obj[9]['cantidad']}} </td>
    </tr>

    <tr>
      <td> {{obj[10]['id']}} </td>
      <td> {{obj[10]['articulo']}} </td>
      <td> {{obj[10]['precio']}} </td>
      <td> {{obj[10]['descripcion']}} </td>
      <td> {{obj[10]['cantidad']}} </td>
    </tr>
</table>

</body>